@mixin main {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: $main_font;
		color: $main_text_color;
	}
}

@mixin clearfix {
	&:before, &:after {
	    content: "";
	    display: table;
	}
	&:after {
	    clear: both;
	}
}

@mixin button {
	display: inline-block;
            padding: 1em 3em;
            text-decoration: none;
            color: white;
            background-color: $main-red;
            margin: 2em;
}

